.footer {
  
  .copyright {
    p {
      color: #333333;
      padding: 20px;
      margin: 0;
      font-size: 10px;
      text-align: center;
      @media (min-width: 960px) {
        font-size: 12px;
        text-align: center;
      }
    }
  }
}
